<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="../public/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>

  <header>
    <!-- Contenido del encabezado -->
    <div class="logo">
      <!-- Logo -->
      <img src="../public/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
    </div>
    <div class="search-bar">
      <!-- Espacio para la barra de búsqueda -->
      <div class="search-input-container">
        <input type="text" placeholder="Buscar productos, marcas">
      </div>
      <div class="search-icon-containner">
        <i class="fas fa-search"></i>
      </div>
      
    </div>
    <div class="info-flex-containner">
      <!-- Texto "Compra en cuotas y sin tarjeta de crédito" -->
      <i class="fas fa-hand-holding-usd"></i>
      <p>Compra en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
      <!-- Barra de navegación -->
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul>
        <li><a href="#">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
      </div>
  </header>

  <div class="banner">
    <img src="../public/images/img-home-banner.jpg" alt="Banner de MercadoLiebre">
  </div>

  <main>
    <!-- Contenido principal de la página -->
    <!-- Sección "Basado en tu última visita" -->
    <section class="recent-visit">
      <h2>Basado en tu última visita</h2>

      <!-- Producto 1 -->
      <div class="product">
        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera">
        <div class="details-product">
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h3 class="title">Cafetera Moulinex</h3>
      </div>
      </div>

      <!-- Producto 2 -->
      <div class="product">
        <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <h3 class="title">MacBook Pro 2019</h3>
      </div>
    </div>

      <!-- Producto 3 -->
      <div class="product">
        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h3 class="title">Samsung Galaxy S10</h3>
      </div>
    </div>

      <!-- Producto 4 -->
      <div class="product">
        <img src="../public/images/img-tv-samsung-smart.jpg" alt="SmartTv">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <h3 class="title">SmartTv Samsung 43"</h3>
      </div>
    </div>
    </section>

    <!-- Sección "Ofertas" -->
    <section class="offers">
      <h2>Sección de Ofertas</h2>

      <!-- Producto 5 -->
      <div class="product">
        <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h3 class="title">Cafetera Moulinex</h3>
      </div>
    </div>

      <!-- Producto 6 -->
      <div class="product">
        <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <h3 class="title">MacBook Pro 2019</h3>
      </div>
    </div>

      <!-- Producto 7 -->
      <div class="product">
        <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h3 class="title">Samsung Galaxy S10</h3>
      </div>
    </div>

      <!-- Producto 8 -->
      <div class="product">
        <img src="../public/images/img-tv-samsung-smart.jpg" alt="SmartTv">
        <div class="details-product"></div>
        <div class="containner-truck">
          <i class="fas fa-truck"></i>
        </div>
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <h3 class="title">SmartTv Samsung 43"</h3>
      </div>
    </div>
    </section>
  </main>

  <footer>
    <!-- Contenido del pie de página -->
    <section class="pay">

      <i class="fas fa-credit-card"></i>
      <h3>Pagá con tarjeta o efectivo</h3>
      <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
        seguro!</p>
    </section>
    <section class="send">
      <i class="fas fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
        Mercado Puntos.</p>
    </section>
    <section class="safe">
      <i class="fas fa-user-shield"></i>
      <h3>Seguridad, de principio a fin.</h3>
      <p>¿No te gusta? ¡Devolvelo! EN Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
      </p>
    </section>
    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>

</body>

</html>