body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 500px; 
  
  h1 {
    text-align: center;
    color: #666;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 15px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  select,
  input[type="file"] {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #28a745;
    color: white;
  }
  
  button[type="reset"] {
    background-color: #dc3545;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  

  
  
  @media (min-width: 600px) {
    .container {
      margin-top: 100px; /* Ajuste adicional para pantallas más grandes */
    }
  }}